@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  font-family: "Luckiest Guy", cursive;
  font-size: 12px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Luckiest Guy", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
